In [ ]:
# Entrega Python - 08-11-2023 - Igor Ambrozini

In [3]:
#Install pandas at VScode

SyntaxError: invalid syntax (1646047409.py, line 2)

In [10]:
# 1. Função que exibe características do DataFrame (10 pts):

import pandas as pd

df = pd.read_csv('sales_data.csv')

df

,Data,Produto,Categoria,Preço,Quantidade,Stock,Canal de Vendas
0,2023-01-01,Produto C-E,Eletrónicos,24.51,6,17,Offline
1,2023-01-02,Produto A-A,Alimentos,26.89,5,31,Offline
2,2023-01-03,Produto A-R,Roupas,19.50,9,46,Online
3,2023-01-04,Produto E-R,Roupas,12.41,2,14,Offline
4,2023-01-05,Produto D-E,Eletrónicos,61.56,10,0,Offline
...,...,...,...,...,...,...,...
360,2023-12-27,Produto E-A,Alimentos,98.09,1,17,Offline
361,2023-12-28,Produto A-A,Alimentos,94.02,2,27,Online
362,2023-12-29,Produto C-A,Alimentos,39.21,4,45,Online
363,2023-12-30,Produto D-R,Roupas,97.62,4,45,Online
364,2023-12-31,Produto A-R,Roupas,79.51,3,38,Online

In [19]:
# número de linhas:
print('Número de linhas =', len(df.index))

Número de linhas = 365

In [21]:
# número de colunas:
print('Número de colunas =', len(df.columns))

Número de colunas = 7

Index(['Data', 'Produto', 'Categoria', 'Preço', 'Quantidade', 'Stock',
       'Canal de Vendas'],
      dtype='object')